@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro');

.Cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
}
.templates-title {
  margin: 1% 0;
  text-align: left;
}

.mas-imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64%;
  margin-bottom: 0;
  margin: 25px 0 0 0;
}

.event-imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64%;
  margin-bottom: 0;
  margin: 25px 0 0 0;
}

.mas {
  width: 130px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event {
  width: 330px;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #F6F5F7;
  box-shadow: 4px 4px 6px #888888;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: black;
  text-transform: none;
  margin: 2%;
  
}
.mas-event {
  margin: 2%;
  width: 330px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #F6F5F7;
  box-shadow: 4px 4px 6px #888888;
  color: black;
  border: none;
}

.event img {
  width: 250px;
  height: 270px;
  object-fit: fill;
}

.event-details {
  background-color: white;
  position: relative;
  text-align: center;
  height: 29.3%;
  padding: 6px;
}

.event-description {
  text-align: left;
  margin: 7px 0 5px 15px !important;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: normal;
  letter-spacing: unset;
}

.event-title {
  background-color: #D56093;
  border-radius: 25px;
  color: white;
  width: 30%;
  font-size: 1em;
  padding: 1.5px;
  margin: 5px 0 5px 15px;
}
.mas-title {
  text-align: center;
  // margin: 5px 0 5px 15px;
}
.mas
.event-url {
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 3px;
  color: #056fff;
}

.cards-container {
  flex: 1;
  margin: 0 auto;
  display: inherit;
  align-items: center;
  height: inherit;
  flex-wrap: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Seccion de Media Queries */
  /* Desktop First (Se empieza desde media querie más grande) */
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 767px) {
  .event {
    width: 47%;
    margin: 2% 1.5%;
  }
}

@media screen and (max-width: 479px) {
  .event {
    flex-wrap: wrap;
    width: 94%;
    margin: 3%
  }
}
@media screen and (max-width: 319px) {
  .event-imageContainer img {
    max-width: 100%
  }
}
