@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import "../../assets/css/variables.scss";

* {
	box-sizing: border-box;
}

body {
	background: $background-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.blockchain-choose {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.right-container {
	background-color: $white;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
  width: 38vw;
  margin-right: 3vw;
	max-width: 100%;
  display: grid;
  height: 66vh;
}

.form-container {
  text-align: center;
}

.instructions-choose {
  background: $primary-color;
	background: -webkit-linear-gradient(to left, #CC6196, #9C66BB);
	background: linear-gradient(to left, #CC6196, #9C66BB);
  color: $white;
  text-align: center;
  padding: 0 15%;
  background-color: $white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	position: relative;
	overflow: hidden;
  max-width: 100%;
  max-height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-choose p {
  letter-spacing: inherit;
  line-height: inherit;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}
.radio-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.flex-container {
  justify-content: space-evenly;
  height: 83%;
}
.next-button
{
	border-radius: 20px;
	background: -webkit-linear-gradient(to left, #CC6196, #9C66BB);
	background: linear-gradient(to left, #CC6196, #9C66BB);
	color: $white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 70px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.prev-button-chain {
  margin-left: 2% !important;
  float: left;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 4.7% 2.5%;
  text-transform: uppercase;
  font-size: small;
  height: 40px;
  width: 141px;
  margin-top:2%;
  cursor: pointer;
  justify-content: center;
}
.button-container-chain {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  padding-top: 15%;
}
.next-button-chain
{
	border-radius: 20px;
	background: -webkit-linear-gradient(to left, #CC6196, #9C66BB);
	background: linear-gradient(to left, #CC6196, #9C66BB);
	color: $white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 47px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.icon-next {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  padding-top: 4.5px;
  cursor: pointer;
}

.red-choice-wrapper {
  width: 50%;
}

.red-info-wrapper {
  width: 50%;
}

h1 {
  margin: 5%;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.drop-redes {
  width: 40%;
  height: 3em;
  font-size: 1em;
  color: $text-color;
}

.description-red {
  display: flex;
  padding: 0 0 0 1.5vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.description-red p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 3vw;
}

.left-container {
  position: relative;
  width: 30vw;
  max-width: 100%;
  margin-top: 1vw;
  text-align: center;
}

.blockchain-logo {
  width: 17vw;
}

.befea-logo {
  width: 23.5vw !important;
}

.form-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3vw; 
  margin-bottom: 1.7em;
}

.block-title {
  font-size: 4em;
}

.red-container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  margin: 5.5% 0;
  margin-bottom: 40%;
}

.button {
  width: 35% !important;
  font-family: 'Montserrat', sans-serif !important;
}

.description-text {
  text-align: left;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}
.description-befea {
  text-align: left;
  letter-spacing: 0.7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.description-text li{
  margin-top: 4%;
}
.description-befea li{
  margin-top: 2.8%;
}
.info-text {
  margin: 0;
  margin-top: 1.15vh;
  font-size: 10px;
  letter-spacing: normal;
  color: #B164A9;
  line-height: normal;
}
.next {
  background-color: $primary-color !important;
  color: $white !important;
}

.MuiFab-extended-86 {
  margin-top: 2.2em !important;
}

@media(max-width: 1451px) {
  .red-container {
    margin-bottom: 50%;
  }
  .button-container-chain {
    margin-left: 13%;
  }

  .description-befea {
    font-size: 15px;
  }
}
@media(max-width: 1451px) {
  .red-container {
    margin-bottom: 48%;
  }
  .button-container-chain {
    margin-left: 13%;
    padding-top: 9%;
  }

  .description-befea {
    font-size: 15px;
  }
}
@media(max-width: 1384px) {
  .next-button-chain {
    padding: 12px 30px;
  }
}

@media(max-width: 1329px) {
  .description-befea {
    font-size: 14px;
  }
}

@media(max-width: 1244px) {
  .next-button-chain {
    padding: 10px 25px;
  }
}

@media(max-width: 1235px) {
  .red-container {
    margin-bottom: 54%;
  }
  .prev-button-chain {
    padding: 0.7% 2.5%;
  }
}

@media (max-width: 1237px) {
  .red-container {
    margin-bottom: 55%;
  }

  .left-container {
    margin-top: 0vw;
  }
}

@media (max-width: 1203px) {
  .red-container {
    margin-bottom: 65%;
  }

  .left-container {
    margin-top: 0vw;
  }
  .next-button-chain {
    padding: 10px 23px;
  }
  .prev-button-chain {
    padding: 0.7% 2.5%;
  }
}

@media (max-width: 1203px) {
  .next-button-chain {
    padding: 10px 20px;
  }

}

@media (max-width: 1163px) {
  .next-button-chain {
    padding: 9.5px 1em;
  }

}

@media (max-width: 1097px) {
  .left-container {
    width: 33vw
  }
  .next-button-chain {
    padding: 9.5px 0.87em;
  }

  .instructions-choose p {
    font-size: 1.15rem;
  }
}

@media (max-width: 993px) {
  .left-container {
    width: 34vw;
  }
  .next-button-chain {
    padding: 9.5px 0.7em;
  }
}

@media (max-width: 950px) {
  .button-container-chain {
    padding-top: 5%;
  }
}

@media (max-width: 879px) {
  .instructions-choose p {
    font-size: 1rem;
  }
}

@media (max-width: 879px) {
  .left-container {
    display: none;
  }

  .right-container {
    height: 73vh;
    width: 62vw;
  }
}

.next-text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
  cursor: pointer;
}

.next-text:hover {
  color: $primary-color;
  cursor: pointer;
}