.TemplateChooser {
  width: 100vw;
  height: 100vh !important;
  margin: 0 auto;
}

.chooser-wrapper {
    width: 70vw;
    height: 100vh;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.blockbuilder-branding>span {
  display: none !important;
}
.template-vis {
  width: 400px;
  height: 400px;
  margin-right: 4%;
}

.image-template {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.os-logo {
  text-align: center;
  cursor: pointer !important;
}