@import "../../assets/css/variables.scss";

.large {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
  margin-top: -110px;
}
.next-button
{
	border-radius: 20px;
	background: -webkit-linear-gradient(to left, #CC6196, #9C66BB);
	background: linear-gradient(to left, #CC6196, #9C66BB);
	color: $white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 70px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.margin-none-table {
  margin: 0;
}
.textos-table { 
  p {
    margin-top: 1%;
    color: black;
  } 
}
.textos-table {
  color: black;
  // font-size:20em;
  margin-top: 23.5px;
}
.prev-button {
  margin-left: 2% !important;
  float: left;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0.7% 2.5%;
  text-transform: uppercase;
  font-size: small;
  height: 40px;
  width: 141px;
  margin-top:2%;
  cursor: pointer;
  justify-content: center;
}